#dashboard {
  padding-bottom: 30px;
}
.group {
  margin-bottom: 1em;
}

.axis {
  font: 10px sans-serif;
  position: static;
  pointer-events: none;
  z-index: 2;
}

.axis text {
  -webkit-transition: fill-opacity 250ms linear;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis.top {
  background-image: linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  top: 0px;
  padding: 0 0 24px 0;
}

.axis.bottom {
  background-image: linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  bottom: 0px;
  position: fixed;
  padding: 24px 0 0 0;
}

.horizon {
  border-bottom: solid 1px #000;
  overflow: hidden;
  position: relative;
}

.horizon:first-child {
  border-top: solid 1px #000;
}

:not(.horizon) + .horizon {
  border-top: solid 1px #000;
}

.horizon canvas {
  display: block;
}

.horizon .title,
.horizon .value {
  top: 0;
  line-height: 20px;
  position: absolute;
  white-space: nowrap;
  background: rgba(255, 255, 255, 0.9);
  height: 20px;
  font-size: 12px;
  color: #000;
}
.horizon .title {
  border-radius: 0 0 5px 0;
  padding: 0 10px 0 5px;
}

.horizon .value {
  border-radius: 5px;
  padding: 2px 4px;
}

.horizon .title {
  left: 0;
}

.totals {
  padding-left: 3px;
  font-size: 12px;
}
.totals:before {
  content: '('
}
.totals:after {
  content: ')'
}

.horizon .value {
  right: 0;
}

.line {
  background: #000;
  z-index: 1;
}

@media all and (max-width: 1439px) {
  body { margin: 0px auto; }
  .axis { position: static; }
  .axis.top, .axis.bottom { padding: 0; }
}
@media all and (max-width: 400px) {
  .horizon .title,
  .horizon .value {
    font-size: 12px;
  }
}

