#content table {
  width: 98%;
  border-collapse: collapse;
  margin-top: 15px;
  font-size: 14px;
}
  #content table th {
    text-align: left;
    padding-left: 10px;
  }
  #content table td {
    padding: 10px;
    border: 1px solid #ccc;
  }
@media all and (max-width: 400px) {
  #content table {
    font-size: 11px;
  }
}
