#content nav {
  border: 1px solid #ccc;
  border-width: 0 1px 1px 0;
  padding: 15px;
  line-height: 25px;
  height: 25px;
}

  #content nav h2 {
    float: left;
    font-size: 18px;
    margin: 0;
  }
#event-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
  #event-list li {
    padding: 0px 15px;
    float: left;
    text-decoration: underline;
    cursor: pointer;
  }

#content table {
  width: 98%;
  border-collapse: collapse;
  margin-top: 15px;
  font-size: 14px;
}
  #content table td {
    padding: 10px;
    border: 1px solid #ccc;
  }
@media all and (max-width: 400px) {
  #content table {
    font-size: 11px;
  }
}
